---
layout: default
title:
nav_layout: body_card
category: cover
---

<div class='cover_container'>
	<div id='your-slider-selector' class="royalSlider rsDefault">
		{% for post in site.categories.cover %}
		<div class='individual_slide {{post.cover_class}}'>
			{% if post.cover_caption %}
				{% if post.image_overlay %}
				<div class='{{post.image_overlay}}'>
				{% endif %}
				<div class='cover_comment {% if post.cover_comment_align_right %} text_right {% endif %}'>
					<a href='{{post.url}}'>{{post.cover_caption}}</a>
				</div>
				{% if post.image_overlay %}
				</div>
				{% endif %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
