---
layout: default
title:
nav_layout: body_card
category: feed
---
<div class="maincontainer ">
	<div class="content_wrap page_info_card three_quarters clearfix">
		<div class='centered_layout'>
			<div class='control_box'>
				<span class="fade">Recent photos, links, news and project updates.</span>
			</div>
		</div>
	</div>
</div>

<div id='grid' class='news_page content_media_secondary clearfix fade_3' data-columns>

 		{% for post in site.categories.feed %}

	<article>
    	{% include system/divider_label_dynamic_post.html %}

		{% case post.feed %}

	<!-- Brief news snippets _______________________________________________ -->

		{% when 'text_only' %}
			<div class="all_text article_padding clearfix">
				<div class="brief">
					{% if post.title_brief != null %}
				    <header>
						<h4><a href="{{post.url}}">{{post.title_brief}}</a></h4>
					</header>
					{% endif %}
				    <div class="feedcontent">
		                {{post.preview}}{% if post.show_date == nil %}.{% endif %}
				    </div>
					{% if post.show_date != nil %}
					<footer class="blah">
						<a href="{{post.url}}">{{ post.date | date: "%b %d, %Y" }}</a>
					</footer>
   					{% endif %}
				</div>
			</div>

		{% when 'case_study' %}
			<div class="emphasis_news image_text article_padding clearfix">
				<div class="{{post.image_container_width}} ppl clearfix ">
					<figure class="clearfix">
						<a href="{{post.url}}">
						    <img src="/img/{{post.path}}/portrait_{{post.news_image}}">
						</a>
					</figure>

					<div class="case_study_caption news_text maincontainer">
						<h4 class="grid_header clearfix"><a href="{{post.url}}">{{post.title_header}}</a></h4>
					</div>
					<div class="image_caption">
						<div class="brief photo_post news_text">
							    <div class="feedcontent">
					                {{post.news_preview}}
							    </div>
							<a class="" href="{{post.url}}">&#32;View Project</a>
						</div>
					</div>
				</div>
			</div>


		{% when 'photo_post' %}
			<div class="image_text article_padding clearfix">
				<div class="{{post.background_color}}">
					<a href="{{post.url}}">
						<figure class=" clearfix">
							{% if post.resolution_independent != null %}
    							<img src="/img/{{post.path}}/{{post.image}}">
							{% else %}
						   		 <img src="/img/{{post.path}}/{{post.news_image}}">
							{% endif %}
						</figure>
					</a>
				</div>

				<div class="image_caption">
					<div class="brief photo_post news_text">

						{% if post.title_brief != null %}
					    <header>
							<h4><a href="{{post.url}}">{{post.title_brief}}</a></h4>
						</header>
						{% endif %}

						{% if post.preview %}
						    <div class="feedcontent">
				                {{post.preview}}.
						    </div>
						{% endif %}

						{% if post.show_link != null %}

						<a class="" href="{{post.url}}">&#32;View Project</a>

						{% endif %}

							{% if post.show_date != nil %}
						    <footer class="blah">
	   							<a href="{{post.url}}">{{ post.date | date: "%b %d, %Y" }}</a>
	   						</footer>
   						{% endif %}

					</div>
				</div>
			</div>
		{% when 'image_only' %}
			<div class="image_only article_padding clearfix">
				<div class="{{post.background_color}}">
					<a href="{{post.url}}">
						<figure class=" clearfix">
							{% if post.resolution_independent != null %}
    							<img src="/img/{{post.path}}/{{post.image}}">
							{% else %}
								{% include system/picturefill_dynamic_post.html %}
							{% endif %}
						</figure>
					</a>
				</div>
			</div>
		{% endcase %}
	</article>
		{% endfor %}
</div>
