  <div class="article_infeed clearfix featured_image_small">

    <div class="front container_style" style="background: url('/img/work/blue_terminal/demo_img/geothermal_card.jpg'); background-size:cover">
      
      <div class="container_overlay">

        <header class="infeed_header">

          <div class="infeed_headertophalf sectionseparator clearfix">

              <span class="featured">Featured</span>

            <ul class="energy_source_container" data-category-count="1">
              <li class="energy_source_item">
               <a class="geothermal category_link" title="Geothermal"><span class="text">Geothermal</span></a>
              </li>
            </ul>

            <ul class="infeed_controls clearfix">
              <li><a class="flip_control icon"><span aria-hidden="true" class="icon-pageflip" title="More Info"></span></a></li>
            </ul>
          </div>

          
        </header>

        <div class="infeed_body infeed_internal_padding clearfix">

          <h2>
            <a>Incentives and stability of international climate coalitions</a>
          </h2>



          <div class="infeed_sidebar_container clearfix">

            <div class="infeed_meta sectionseparator clearfix">

              <ul class="infeed_meta_list">
                <li class="source">
                  Elsevier Energy Policy
                </li>
              </ul>


              <div class="dateposted">
                <span title="11/02/2013 at 12:00 AM">11/02/2013</span>
              </div>
            </div>    
          </div>

        </div>

      
      </div>
    </div>

    <div class="back container_style ">
      <header class="infeed_header">

        <div class="infeed_headertophalf sectionseparator clearfix">

            <span class="featured">Featured</span>

          <ul class="energy_source_container" data-category-count="1">
      <li class="energy_source_item">
        <a class="geothermal category_link" title="Geothermal"><span class="text">Geothermal</span></a>
  </li></ul>

          <ul class="infeed_controls clearfix">
            <li><a class="flip_control icon"><span aria-hidden="true" class="icon-pageflip" title="More Info"></span></a></li>
          </ul>
        </div>

        <div>
          
        </div>
      </header>

      <div class="infeed_body infeed_internal_padding clearfix">



        <div class="infeed_content_container clearfix">
            <div class="infeed_content">
              <p><b>Date:</b> April 2013<br><b>Publication Year:</b> 2013<br><b>Source:</b> Energy Policy, Volume 55<br><br> <br> This paper analyses the incentives to participate in an international climate agreement and the stability of the resulting climate coalition using the integrated assessment model WITCH. Coalition stability is assessed under alternative assumptions concerning the pure rate of time preference, the aggregation of social welfare, and the severity of climate damages... <br> </p><h3 class="back_card">Highlights</h3> ► We analyse climate coalitions with an integrated assessment model. ► Coalitions’ profitability and stability is analysed under alternative assumptions. ► Effective coalitions should include larger emitters (such as India and China). ► A coalition that achieves 550ppm CO2-eq is not internally stable. ► A stable coalition can achieve around 518ppme in 2050 and 600ppme in 2100.<br><br><br><br><p></p>
            </div>
        </div>
      </div>

      <footer class="infeed_footer">

          <div class="controls_container clearfix">
            <ul class="controls clearfix">
    <li><a class="icon social_action_controls close_share"><span aria-hidden="true" class="icon-close_social" title="Exit Share Options"></span></a></li>
    <li><a class="icon social_action_controls" ><span aria-hidden="true" class="icon-facebook"></span></a></li>
    <li><a class="icon social_action_controls" ><span aria-hidden="true" class="icon-twitter"></span></a></li>
    <li><a class="icon social_action_controls" ><span aria-hidden="true" class="icon-mail"></span></a></li>
    <li><a class="icon article_action_controls share"><span aria-hidden="true" class="icon-export_square" title="Share"></span></a></li>
    <li><a class="icon article_action_controls" target="_blank" title="View source article"><span aria-hidden="true" class="icon-link"></span></a></li>
    <li><a><span aria-hidden="true" class="icon-star"></span></a></li>
  </ul>

          </div>


        <div class="viewarticle right">
          <a>View Article</a>
        </div>


      </footer>
    </div>
  </div>
