<div class="blue_terminal_demo">
  <div class="super_featured expanded">
    <div class="background_image_container wind">
      <div class="color_overlay gradient">
          <div class="max_width_container clearfix">
            <div class="inner_connent_wrap super_featured_content">
              <header class="site_wide_header clearfix">
                <div class="major_sectionseparator_knockout nav_size_fix clearfix">
                  <div class="search_container clearfix">
                    <form accept-charset="UTF-8" action="/articles" method="get">
                      <input class="search" id="q" name="q" placeholder="Search..." type="text" onkeypress="return handleEnter(this, event)">
                    </form> 
                  </div>

                  <div class="wordmark">
                      <a >
                          <span class="smallscreen">Bt</span> <span class="largescreen">Blue Terminal</span>
                      </a>
                  </div>
                </div>

                <div class="in_menu_control">
                  <a class="superfeatured_control icon-minimize" title="Maximize Banner"></a>
                  <a class="superfeatured_control icon-maximize" title="Minimize Banner"></a>
                </div>
                
                <nav class="mainmenu ">
                  <a class="active">Articles</a>
                  <a >Info</a>
                    <a >Sign-In</a>    
                </nav>
              </header>
              
              <div class="super_featured_body ">
                  <h3><a>Valuation of projects for power generation with renewable energy</a></h3>
                  <div class="super_featured_meta">
                    <span class="meta_label">Headline Feature</span>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>