<article class="{{post.image_container_width}} ppl clearfix ">
	<figure class=" clearfix">
		<a href="{{post.url}}">
		{% include system/picturefill_art_direction_post.html %}
		</a>
	</figure>

	<div class="centered_layout last image_only article_padding hero_header_container maincontainer">
	    <div class="content_wrap super_underscore clearfix ">

	    	        <h4 class=" clearfix"><a href="{{post.url}}">{{post.title_header}}</a></h4>


			    <div class=" clearfix">
			        <p><a class="plain_link" href="{{post.url}}">{{post.extended_preview}}</a></p>
			    </div>
			</a>
	    </div>
	</div>
</article>
