<article class="work_item maincontainer centered_layout hero_header_container all_text article_padding clearfix ">
    <div class="feed_wrap non_knockout super_underscore clearfix" >
        <h4 class=" clearfix"><a href="{{post.url}}">{{post.title_header}}</a></h4>
			
			<div class="divider_container">
				<div class="content_wrap">
					<div class="label_holder">

							<div class="overlay_label">
								<h1 class="metainfo "><a href='{{post.url}}'>view project</a></h1>
							</div>

						<div class="flex_container_divider">

							<div class="flex_border"></div>
							<h1 class="metainfo invisible">view project</h1>
							<div class="flex_border"></div>
						</div>
					</div>
				</div>
			</div>

	    <div class=" intro_text title_subcaption clearfix">
	        <p><a href="{{post.url}}">{{post.extended_preview}}</a>
			</p>
	    </div> 
    </div>
</article>