<article class="work_item {{post.image_container_width}} clearfix">
	<div class="{{page.image_width}}">
		<div class="knockout_text">
			<figure class="clearfix">
				<div class="work_image_container">
				{% include system/picturefill_art_direction_post.html %}
				</div>

				<div class="image_layered_overlay work_caption_container">
					<a href="{{post.url}}">
						{% if post.image_contains_anything == nil %}
							<div class="{% if post.overlay_show == nil %} overlay_color{% endif %} gradient centered_layout">
								{% if post.title_inpic_show == nil %}
									<header class="clearfix">
										<div class="bottom_box super_underscore clearfix">
											<h4 {% if post.title_inpic_color %} style="color:{{post.title_inpic_color}} "{% endif %} class=" clearfix">{{post.title_inpic}}</h4>


											<div class="divider_container maincontainer">
												<div class="content_wrap">
													<div class="label_holder">

															<div class="overlay_label">
																<h1 class="metainfo ">view project</h1>
															</div>

														<div class="flex_container_divider">

															<div class="flex_border"></div>
															<h1 class="metainfo invisible">view project</h1>
															<div class="flex_border"></div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</header>
								{% endif %}
							</div>	
						{% endif %}
					</a>
				</div>
			</figure>
		</div>

		<section class="maincontainer image_caption ">
		    <div class="content_wrap intro_text  clearfix">
		        <p><a class="plain_link" href="{{post.url}}">{{post.extended_preview}}</a> </p>
		    </div> 
		</section> 
	</div>
</article>
