---
layout: major_project_page_layout
feed: case_study
work_feed: work_post_image_headline_caption

date: Aug 7,2013

title: Blue Terminal
title_inpic: Blue</br>Terminal
title_header: Blue Terminal

label: Case Study
label_in_text: About

path: work/blue_terminal

custom_css: blueterminal.css
custom_typography: egd7dyy.js
custom_jQuery: helper_hacks.js

categories: work case_study cover first feed
tags: mainproject

image_container_width: content_media_outerframe
image: blueterminal.jpg
news_image: blueterminal.jpg

cover_class: blue_terminal
cover_background_position: center center

image_overlay:

project_summary: Product, identity and interactive design for an energy news and information network

extended_preview: Identity, visual language and iconographic design for an energy news and research network. Project includes product design and UI/UX development.

news_preview: An in-depth look at development of an energy news and research network. Work done includes identity, visual language/iconography, product design and UI/UX development.

cover_caption: Product, identity and interactive design for an energy news and information network

---


<section class="maincontainer">

    <div class="feed_wrap intro_text major article_padding all_text first clearfix">

        <p>Blue Terminal is a startup developing an energy information platform. They scan policy and research publications for relevant articles and process them into a unified, searchable database. I helped their team build a user-focused research network with data-analysis and visualization tools.</p>

    </div>
</section>

{% include system/divider_label_param.html param='Concept + Prototyping' %}


<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">

        <p>Early on I worked with Blue Terminal to help them name the project and develop branding that would reflect their professional approach. This resulted in a clean, editorial-style design (using <a href="https://www.adobe.com/type/browser/landing/arno/arno.html" target="_blank">Arno Pro</a> and art-directed photography), focused on helping their fundraising efforts.</p>

    </div>

    <div class="article_padding all_text clearfix">
        {% include system/figure_flex.html art_direction='' background='' inner_width='content_media_outerframe' figure='bluecards.jpg' caption='Business cards and responsive website gave the team a portable, on-hand set of tools they could use for meetings and project presentations.' %}
    </div>


    <div class="content_wrap clearfix">
        <p>Once Blue Terminal raised sufficient funding to start development I led their team through a series of product design sessions, detailing functionality, content structure and interface direction. Specifically, we focused on what the team envisioned as key features — article feed, data-visualization tools, energy profiles and customizable user dashboards.</p>
    </div>

    <div class="article_padding all_text clearfix">
        {% include system/figure_flex.html art_direction='left_align' inner_width='content_media_center'  figure='wireframing.jpg' caption='Notes from product design sessions detailing early versions of the navigation, landing page and fuel dashboards.' %}
    </div>

</section>


    {% include system/divider_label_param.html param='Design System' %}

<section class="maincontainer margin_module all_text article_padding ">

    <div class="sub_section margin_module">

        <div class="content_wrap clearfix">


            <p>Based on the range of content and functionality this project required an adaptive design system. It had to be recognizable, work across a variety of media sizes, translate across print/digital formats and be able to accommodate new content and functionality.</p>

        </div>
    </div>

    <section class="sub_section margin_module">
        <div class="content_wrap clearfix">
            <h5>1. Adaptive Wordmark</h5>

            <p>Blue Terminal wordmark consists of three versions, which can be used interchangeably in order to adapt to changes in context. Their shared typographic design keeps them recognizable as part of the same family.</p>

        </div>

        <div class="article_padding all_text clearfix">
            {% include system/figure_centered.html background='see_through ' background_color='gray' outer_width='content_media_outerframe' inner_width='feed_wrap' figure='logo_wordmark.png' caption='Three versions of the wordmark adapt to variations in media or viewport size.' %}
        </div>

    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
            <h5>2. Typography</h5>

            <p><a href="http://www.fontshop.com/fonts/downloads/mark_simonson_studio/proxima_nova_complete_ot/" target="_blank">Proxima Nova</a> family is used to design the identity and set the majority of the site’s content. It is highly legible in both print and digital media, stylish, but not distracting in text and eye-catching in headings. Importantly, it provides typographic flexibility to the design system with a large range of styles and extended language support.</p>
        </div>


        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='content_alignto_left_margin' figure='proxima.png' caption='<a href="http://www.fontshop.com/fonts/singles/mark_simonson_studio/proxima_nova_bold/" target="_blank">Bold</a> and <a href="http://www.fontshop.com/fonts/singles/mark_simonson_studio/proxima_nova_regular/" target="_blank">Regular</a>, shown above, are two of the 42 available styles of <a href="http://www.fontshop.com/fonts/downloads/mark_simonson_studio/proxima_nova_complete_ot/" target="_blank">Proxima Nova</a>.' %}
        </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
            <h5>3. Dynamic logo</h5>
            <p>While the wordmark adapts to content with interchangeable versions, Blue Terminal logo is a fully dynamic, information-rich element. Logo design reflects the informational nature of the project — combining elements of data-visualization with the project’s broad focus on energy resources.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='logo_creation.png' caption='Idea behind the logo design. The circle references Earth (symbolizing a global outlook) and acts as a container for iconography in custom logo applications.' %}
        </div>

        <div class="content_wrap clearfix">

            <p>Nine rays of the logo correspond to the energy groups — geothermal, nuclear, hydroelectric, solar, wind, natural gas, coal, biofuel and crude oil. By assigning these groups to positions on the circumference of the circle (x-axis) and a quantitative variable to the length of the rays (y-axis), logo becomes dynamic when populated with data.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='dynamic_logo_range.png' caption='Assigned with energy data logo rays change length to create infinite permutations, yet remain clearly identifiable as part of one family.' %}
        </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
        <h5>4. Labeling System</h5>

        <p>A variety of data can be used to set ray lengths. Examples include: energy profiles, production/consumption stats and article aggregation totals. This results in a dynamic labeling system that can provide glanceable information about the content it represents.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='dynamic_logo_samples.png' caption='A few sample label/logo visualizations. Grayed out rays are either not in focus for the topic at hand (ex. specific energy source) or present in negligible amounts.' %}
        </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
            <h5>5. Iconography</h5>

            <p>Iconography plays a key role in the design language by being a major part of the labeling system and improving accessibility for foreign language users. Initially, I created a set of energy icons for the identity design.</p>


        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='content_wrap' figure='iconography.png' caption='Biofuel, natural gas, nuclear, geothermal, coal, solar, crude oil, wind and hydroelectric icons.' %}
        </div>

        <div class="content_wrap clearfix">

            <p>As work progressed I continued to design icons for the interface, creating a range of labels and controls.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='iconography_web.png' caption='Partial selection of the custom icons designed for the interface labels and controls.' %}
        </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
            <h5>6. Color</h5>

             <p>While the design system works perfectly in black and white setting, color provides an additional layer of identity and function to the visual language. Associating color with energy types lessens the cognitive load on the user and makes it easier to find and categorize content.</p>
        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='' outer_width='' background_color='' inner_width='feed_wrap' figure='pantone.png' %}
        </div>

        <div class="content_wrap clearfix">

        <p>In making the selection I focused on choosing color that reproduced consistently across print and digital formats. <a href="http://www.pantone.com/pages/products/product.aspx?pid=1001&ca=1" target="_blank">Pantone ‘Color Bridge’</a> served as a good starting point with its wide range of spot colors, sRGB and HEX values, and their CMYK alternatives.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='color.png' caption='Examples of color and energy source pairs. Depending on the context, color can can be applied to any combination of the icon, ray or name of the energy source.' %}
        </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">
            <h5>7. Adaptive Energy Branding</h5>

            <p>The combination of dynamic logo, icon and label is appropriate for major headings. However, depending on the media size or heading hierarchy, this implementation can become unwieldy. Building on the adaptive wordmark, typography and labeling system, energy branding is designed to readjust in responsive interface workflows.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html art_direction='left_align' background='see_through ' outer_width='content_media_outerframe' background_color='gray' inner_width='feed_wrap' figure='energy_adaptive.png' caption='Alternatively, energy labels and icons can be used on their own. In the case of a ‘typographic-only’ approach the name of the energy source would be the one taking on the color. ' %}
        </div>
    </section>

</section>


{% include system/divider_label_param.html param='Website Update + Interface Prototypes' %}


<section class="maincontainer all_text article_padding margin_module ">

    <div class="content_wrap clearfix">

        <p>At this stage the design system was largely completed and my work shifted towards developing how the interface looks and functions. A change occurred in Blue Terminal’s focus as well, as they moved from fundraising to recruiting software engineers and promoting the project.</p>

        <p>To help this new direction I updated the original website with new design and functionality. It integrated the newly developed visual language, previewed images of the interface, detailed the project and provided a place to host privately-accessible functionality demos.</p>

    </div>

    <div class="article_padding all_text clearfix">

        {% include system/figure_centered.html art_direction='' background='' outer_width='' inner_width='' figure='website_update.jpg' caption='Updated version of the website. Note the adaptive wordmark, prominent sign-up form and <a href="http://www.fontshop.com/fonts/downloads/mark_simonson_studio/proxima_nova_complete_ot/" target="_blank">Proxima Nova</a> typography. Images used were of various feature demos hosted on the site.' %}
    </div>

    <div class="content_wrap clearfix">

        <p>Virtually all of the design was done in browser, letting me work on interactions and responsive layouts on the fly, and integrating cross-browser testing into the development process.</p>

        <p>Additionally this ‘in-browser’ workflow gave Blue Terminal access to live interface prototypes. This enabled easy back and forth between us and provided the team with functional demos they used in engineering RFP’s and product presentations.</p>

    </div>

    <div class="article_padding all_text clearfix">

        {% include system/figure_centered.html art_direction='' background='' outer_width='' inner_width='' figure='interface_demo.jpg' caption='A demo of the energy profiles. Planned features included icon-based energy navigation, dynamic labels and interactive, touch-enabled visualizations of relevant energy data.' %}
    </div>
</section>


{% include system/divider_label_param.html param='Site Development' %}


<section class="maincontainer all_text article_padding margin_module ">

     <div class="sub_section margin_module">

            <div class="content_wrap clearfix">

                <p><a href="http://culturecode.ca" target="_blank">Culture Code</a> won the RFP to build the Blue Terminal’s back-end and article aggregation engine. From that point on we worked together to develop and launch the first version of the site.</p>

                <p>We started out by assessing how to implement the project under the available budget and timeframe. This resulted in a roadmap, focused on introducing functionality in sets of compatible features — in the first stage we built out the article feed, user dashboards and developed core interface elements.</p>
            </div>
    </div>

     <section class="sub_section margin_module">

            <div class="content_wrap clearfix">
                <h5>1. Article Feed</h5>


                <p>The design of the feed brings structure and visual style to Blue Terminal’s broad, information-dense content aggregation. Prominent search and an eye-catching ‘featured’ section kick-off the page, providing a quick way to find information and promoting headline articles.</p>
            </div>

            <div class="article_padding all_text clearfix">

                {% include system/figure_flex.html art_direction='left_align' background=' dark' inner_width='content_media_center' figure='article_feed_page.jpg' caption='Snapshot of the article feed — showing the prominent search, art-directed content and interactive article cards.' %}
            </div>

            <div class="content_wrap clearfix">

                <p>Below the ‘featured’ section <a href="https://github.com/defunkt/jquery-pjax" target="_blank">PJAX</a>-driven filters (energy source, time range and article categories) enable users to instantly focus the feed on what they are looking for. Feed content itself is fully art-directable, with 3 levels of emphasis to highlight the article cards.</p>

                <p>Additionally, these cards are interactive (further detail and preview in the next section), rotating to show saving/sharing controls and extra information on the back of the card.</p>

            </div>
    </section>

    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">

            <h5>2. 'Full-Article' Pages</h5>

            <p>‘Full-article’ page organizes the content of the aggregated articles into a structured layout. This gets the highly-varied, original source formatting out of the way and lets users quickly find the information they need.</p>

        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_flex.html art_direction='left_align' background=' dark' inner_width='content_media_center' figure='full_article_page.jpg' caption='‘Full-article’ page provides summary and analysis, source info, sharing/bookmarking tools and a selection of related articles.' %}
        </div>
    </section>


    <section class="sub_section margin_module">

        <div class="content_wrap clearfix">

                <h5>3. User Dashboards</h5>


                <p>The third major part of the initial build is the user profile/personal dashboard page. It stores bookmarked articles, provides content submission tools and creates a foundation for a future research network.</p>
        </div>

        <div class="article_padding all_text clearfix">

            {% include system/figure_flex.html art_direction='left_align' background=' dark' inner_width='content_media_center' figure='profile_page.jpg' caption='Profile page collects saved articles, and creates a starting point for planned research network.' %}
        </div>
    </section>

</section>

{% include system/divider_label_param.html param='Interface Details' %}

<section class=" all_text article_padding margin_module ">

    <div class="sub_section ">

        <div class="maincontainer">

            <div class="content_wrap clearfix">

                <p>Blue Terminal has a robust content categorization system, making tag-based search a powerful tool for finding the exact information user needs. The design of the search field emphasizes this through prominent page placement, bold typography and stricking background images.</p>

                <p>Photos are selected from a curated list to match the theme of the ‘featured’ content, which follows the search/navigation and showcases top articles.</p>
            </div>
        </div>

        <div class=" all_text article_padding ">

            {% include work/blue_terminal/navigation.html %}

            <div class="maincontainer">

                 <figcaption class="flex_caption content_wrap">Prominent search/navigation set within a  ‘featured headline’ section. This area is context aware and collapses when appropriate, leaving focus completely on search (ex. ‘full-article’ page). Use the icon in the top right corner to try this out.</figcaption>
            </div>
        </div>


        <div class="maincontainer margin_module">

                <div class="content_wrap clearfix">

                    <p>Article feed is built on a simple, 3-column grid with flexible width columns and fixed height rows. When viewport size changes the grid flexes until a breaking point is reached (based on line length), at which point it reflows into a more suitable layout (1, 2 or 3 columns).</p>

                </div>

                <div class="article_padding all_text clearfix">

                    {% include system/figure_centered.html background='' background_color='' outer_width='' inner_width='content_wrap' figure='grid.png' %}
                </div>

                <div class="content_wrap clearfix">

                    <p>Individual article cards make up the feed. Similar to the ‘full-page’ template they are designed to process information from the aggregated content into a clear, structured presentation.</p>

                    <p>Because aggregated content, such as titles or abstracts, can get very long, a rotating interaction was developed — it creates room for the content without increasing the overall size of the card. When activated the card flips around to show additional information and sharing/saving controls.</p>

                </div>

                 <div class="article_padding all_text ">
                    <div class="photo_caption left_align ">

                            <figure class="flex_photo content_bleed clearfix">
                                <div class="blue_terminal_demo">
                                    <div class="overflow_container perspective_fix">
                                        <div class="card_demo_container">
                                            {% include work/blue_terminal/card1.html %}
                                            {% include work/blue_terminal/card2.html %}
                                            {% include work/blue_terminal/card3.html %}
                                        </div>
                                    </div>
                                </div>

                            </figure>

                             <figcaption class="flex_caption content_wrap perspective_fix">Article cards — use the icon in the top right corner to preview the card flip interaction.</figcaption>
                    </div>
                </div>

                <div class="content_wrap clearfix">

                    <p>There is a selection of layouts built into the interface that allow Blue Terminal to feature and emphasize articles in the feed. </p>

                    <p>There are both text and image based templates, as well as tools for adding custom images. Article cards can span 1, 2 or 3 columns [for varying amount of emphasis] and, as with the rest of the interface, all layouts are responsive.</p>
                </div>


                <div class="article_padding all_text ">
                    <div class="photo_caption left_align ">

                            <figure class="flex_photo content_media_center clearfix">
                                <div class="blue_terminal_demo">
                                    <div class=" perspective_fix">
                                        <div class="card_featured_container">
                                            {% include work/blue_terminal/card_featured.html %}
                                        </div>
                                    </div>
                                </div>

                            </figure>

                             <figcaption class="flex_caption content_wrap perspective_fix">An example of 3 column spanning article card. Resize the page to see it readjust to changing viewport dimensions.</figcaption>
                    </div>
                </div>

        </div>

</section>

{% include system/divider_label_param.html param='Updated Business Cards' %}


<section class="maincontainer all_text article_padding margin_module ">

    <div class="content_wrap clearfix">

        <p>As we launched the website I made an update to team business cards to bring them in line with the site design. Each person selected photos they enjoyed, creating a set of personalized cards.</p>
    </div>

    <div class="article_padding all_text clearfix">
            {% include system/figure_centered.html art_direction='' background='' inner_width='' figure='cards_update.jpg' caption='Updated business cards with personalized photos, choosen by individual team members.' %}
    </div>

</section>

{% include system/divider_label_param.html param='Appendix' %}


<section class="maincontainer all_text article_padding margin_module ">

    <div class="content_wrap intro_text clearfix">

        <p>You can take a look at the current version of the site at <a href="http://www.blueterminal.org" target="_blank">blueterminal.org</a>. If you have any questions about this project, get in touch with me <a href="mailto:contact@deadtype.ca">via email</a>.</p>
    </div>
</section>
