---
layout: major_project_page_layout
feed: case_study
work_feed: work_post_image_headline_caption

date: Oct 4, 2013

title: Paintings by Lori Lees-Stout
title_inpic: Paintings</br>by Lori Lees&#8209;Stout
title_header: Paintings</br>by Lori Lees-Stout
title_brief: Paintings by Lori Lees-Stout

label: case study
label_in_text: About
show_link: yes

path: work/paintings_bystout

categories: work case_study third feed cover
tags: mainproject

image: hero_closeup.jpg
news_image: hero_closeup.jpg

cover_class: painting
cover_background_position: 80% center
cover_comment_align_right: yes

image_overlay:

image_width: content_media_outerframe

overlay_show:
title_inpic_show:
title_inpic_color:

project_summary: Miniature art prints and personal communication for a Vancouver based artist

extended_preview: Personal identity and communication materials for an artist in Vancouver BC.

news_preview: Personal identity and communication materials for a local artist.

cover_caption: Personal identity and communication materials for a Vancouver artist.
---

<section class="maincontainer all_text first article_padding">

    <div class="feed_wrap intro_text image_caption clearfix">
        <p>Lori Lees-Stout is an artist in Vancouver, BC — I designed a personal identity for her, using Lori’s paintings to create a series of miniature art prints. Clean typographic design, combined with high-quality printing and card stock, resulted in a set of cards, which Lori uses for personal communication and self-promotion.</p>
    </div>
</section>


{% include system/divider_label_param.html param='Stock + Typography' %}

<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">
        <p>To achieve solid, canvas-like prints I used a heavy, uncoated stock as a base. The paper is bright white with a textured finish which lets Lori’s artwork stand-out and gives the cards a firm, tactile feel.</p>
    </div>

    <div class="article_padding all_text clearfix">

      {% include system/figure_flex.html background='' art_direction='left_align' background_color='' outer_width='' inner_width='content_media_center' figure='texture_typography.jpg' caption='Close-up of the information-focused card side, showing detail of the texture and <a href="http://www.fontshop.com/fonts/downloads/adobe/garamond_premier_pro_volume/ot_ps" target="_blank">Garamond</a> typography.' %}

    </div>

    <div class="content_wrap clearfix">
        <p><a href="http://www.fontshop.com/fonts/downloads/adobe/garamond_premier_pro_volume/ot_ps" target="_blank">Adobe Garamond</a> underscores the art [without stealing attention from it] and gives the cards a subtle, ‘art-gallery’ styled feel.</p>
     </div>

    <div class="article_padding all_text clearfix">

        {% include system/figure_centered.html background='see_through ' background_color='gray' outer_width='content_media_center' inner_width='content_alignto_left_margin' figure='garamond.png' caption='Italic is used to emphasize titles while Roman sets the content.' %}
    </div>

</section>

{% include system/divider_label_param.html param='Artwork' %}

<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">
        <p>For the initial run of prints we chose a set of 5 paintings out of Lori’s favorite works to showcase her range of drawing styles and striking use of color. White border frames the images, focusing viewers on the art.</p>
    </div>

        <div class="article_padding all_text clearfix figure_group">
            {% include system/figure_centered.html inner_width='content_media_center' background_color='' outer_width='' figure='portrait_family_picnic.jpg' %}
            {% include system/figure_centered.html inner_width='content_media_center' background_color='' outer_width='' figure='landscape_camouflage.jpg' %}
            {% include system/figure_centered.html inner_width='content_media_center' background_color='' outer_width='' figure='portrait_hidden.jpg' %}
            {% include system/figure_centered.html inner_width='content_media_center' background_color='' outer_width='' figure='landscape_morning_coffee.jpg' %}
            {% include system/figure_centered.html inner_width='content_media_center' background_color='' outer_width='' figure='portrait_contradictions.jpg' %}

            <aside class=" content_wrap">Note the readjustment of text between the portrait and landscape orientations, allowing for a customized use of space to set the artwork in.</aside>
        </div>
</section>

{% include system/divider_label_param.html param='Custom Template' %}

<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">

        <p>Building on the design, I created a editable template for Lori, letting her easily add new artwork in future. Because portrait and landscape formats require subtle changes to the layout of text and images, the template includes both versions, as well as simple guidelines on how to apply them.</p>

    </div>

        <div class="article_padding all_text clearfix">

            <div class="photo_caption left_align">
                    <div class="flex_photo content_media_center figure_group">

                    {% include system/figure_centered.html inner_width='' background_color='' outer_width='' figure='portrait.jpg' %}
                    {% include system/figure_centered.html inner_width='' background_color='' outer_width='' figure='landscape.jpg' %}

                    </div>

                    <aside class="flex_caption content_wrap">Two versions of the information-focused side of the card — used selectively for portrait or landscape prints.</aside>
            </div>
        </div>

</section>

{% include system/divider_label_param.html param='Card Use' %}

<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">

        <p>Lori uses the prints as both personal business cards and samples of her art — giving them out in galleries and at exhibitions.</p>


        <p>The ‘miniature painting’ design of the cards helps Lori creatively promote her work. Placing them alongside corresponding full-sized paintings, gives gallery visitors a small version to keep — while arranging prints along hallways or walls creates striking ‘micro-exhibitions’.</p>

    </div>
        <div class="article_padding all_text clearfix">
            {% include system/figure_centered.html inner_width='' background_color='' outer_width='' figure='hero_pattern.jpg' caption='Patterned layouts can create eye-catching mosaics of takeaway art/self-promotion at Lori’s exhibitions.' %}
        </div>

</section>


{% include system/divider_label_param.html param='Appendix' %}


<section class="maincontainer all_text article_padding margin_module ">

    <div class="content_wrap intro_text clearfix">

        <p>Visit <a href="http://www.lorileesstout.com" target="_blank">lorileesstout.com</a> for more of her work. If you have any questions about my work, get in touch with me at <a href="mailto:contact@deadtype.ca">contact@deadtype.ca</a>. </p>
    </div>
</section>
