---
layout: major_project_page_layout
feed: case_study
work_feed: work_post_image_headline_caption

date: Jul 5, 2013

title: Campaign for Culture
title_inpic: Campaign</br>for Culture
title_header: Campaign</br>for Culture

label: case study
news_label_color: black
news_title_color: black
label_in_text: About

path: work/campaign_forculture

categories: work case_study second feed
tags: mainproject

image_width: content_media_outerframe
image: besttasteonearth_flush.jpg
news_image: inkwell.jpg

project_summary: Identity, illustration and web design for a grassroots organization in British Columbia

extended_preview: “Campaign for Culture” is a grassroots organization working to modernize liquor laws in British Columbia. I designed a visual language for the project, including a series of illustration, and developed their website.

news_preview: Illustration, branding and web design for an organization modernizing liquor laws in British Columbia.

---

<section class="maincontainer all_text first article_padding">

    <div class="feed_wrap intro_text image_caption clearfix">
        <p>“Campaign for Culture” is a grassroots organization looking to modernize liquor laws in British Columbia. Their work involves government officials as well as the general public. To help them reach these groups I developed a professional, yet visually striking and accessible design language.</p>
    </div>
</section>


{% include system/divider_label_param.html param='Branding' %}

<section class="maincontainer all_text article_padding margin_module">

    <div class="content_wrap clearfix">
        <p>The design of the identity combined clear, readable typography with simple, colorful illustrations:</p>

    </div>

    <div class="article_padding all_text clearfix">
        {% include system/figure_centered.html background='see_through ' background_color='gray' outer_width='feed_wrap' inner_width='content_wrap' figure='logo.png' %}
    </div>

    <div class="content_wrap clearfix">
        <p>Logo is a set of radiating rings — representing 5 individual phases which build into the full campaign. Together with the wordmark it creates a flexible combination that works in a variety of print and digital contexts.</p>
    </div>

    <div class="article_padding all_text clearfix">

            {% include system/figure_centered.html background='see_through ' background_color='gray'  outer_width='content_media_center' inner_width='feed_wrap' figure='warnock.png' %}
    </div>

    <div class="content_wrap clearfix">
        <p><a href='http://www.myfonts.com/fonts/adobe/warnock/' target='blanck'>Warnock Pro</a> is used to set the wordmark and all of the campaign’s print and online content. Its classic look is appropriate for official documents, while the sharp design of its serifs gives text a subtle quirkiness and a modern feel.</p>
    </div>

    <div class="article_padding all_text clearfix  figure_group">

            {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='card_front.jpg' %}
            {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='card_back.jpg' %}

    </div>

</section>

{% include system/divider_label_param.html param='Illustrations' %}

<section class="maincontainer all_text article_padding margin_module">
    <div class="content_wrap clearfix">
        <p>A series of illustrations covers specific campaign themes and other relevant content or information. A simple style (complementing the typography) is carried throughout, using sharp angular forms and solid colors.</p>
    </div>
        <div class="article_padding all_text  clearfix figure_group margin_module">


            <div class="article_padding all_text  clearfix ">

                 {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='happyhour.jpg' %}
            </div>

            {% include system/divider_label_param.html param='+' %}


            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='besttasteonearth.jpg' %}

            </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='Math.jpg' %}

             </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='inthenews.jpg' %}

            </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='SOL.jpg' %}

            </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='atypcallicensing.jpg' %}

             </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text  clearfix ">

                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='takeaction.jpg' %}

             </div>

            {% include system/divider_label_param.html param='+' %}

            <div class="article_padding all_text clearfix">
                {% include system/figure_centered.html inner_width='content_media_secondary' background_color='' outer_width='' figure='inkwell.jpg' %}
            </div>
        </div>

    <div class="content_wrap clearfix">
        <p>The illustrations are used in advertising, promotional materials and social media. They are drawn modular, ensuring that individual pieces are easy to take apart, art-direct and customize with headlines or copy.</p>
    </div>
</section>



{% include system/divider_label_param.html param='Website' %}

<section class="maincontainer all_text article_padding margin_module">
    <div class="content_wrap clearfix">
        <p>Campaign for Culture website combines typography and illustrations into a stylish presentation. It is built on a simple one-column grid with a focus on readability. By adjusting text size, leading and measure with changing screen sizes a tailored experience is created for a range of devices.</p>
    </div>

            <div class="article_padding all_text clearfix">
                {% include system/figure_centered.html inner_width='content_media_secondary bracket' background_color='' outer_width='' figure='web_campaign.jpg' %}
            </div>

    <div class="content_wrap clearfix">
        <p>The site details specific issues the campaign focused on and provides a way for voters to connect with government officials regarding these topics.</p>
    </div>

            <div class="article_padding all_text clearfix">
                {% include system/figure_centered.html inner_width='content_media_secondary bracket' background_color='' outer_width='' figure='web_form.jpg' %}
            </div>

    <div class="content_wrap clearfix">
        <p>Campaign for Culture also hosts a feed of news and articles related to the project and the issues it is addressing.</p>
    </div>

            <div class="article_padding all_text clearfix">
                {% include system/figure_centered.html inner_width='content_media_secondary bracket' background_color='' outer_width='' figure='web_news.jpg' %}
            </div>

</section>

{% include system/divider_label_param.html param='Appendix' %}

<section class="maincontainer all_text article_padding margin_module">
    <div class="content_wrap intro_text clearfix">
        <p>Visit <a href="http://www.campaignforculture.ca" target="_blank">campaignforculture.ca</a> for more information about the project. If you have any questions about my work, get in touch with me via <a href="mailto:contact@deadtype.ca">email</a>.</p>
    </div>
</section>
