---
layout: default
categories: work case_study feed

title: Blue Terminal
title_long: Blue Terminal
subtitle: Product Design, Art Direction, Web

path: work/blue_terminal
news_image: portrait_blueterminal2.jpg

---

<section class="section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Product design, UI/UX and art-direction for Blue Terminal, an energy information network.</p>
        </div>
    </div>
    <div class='content_offset image_set'>

	    	<figure>
		    	<figcaption class='first'>
	    			Stage 1 — Fundraising-focused website
	    		</figcaption>
	    		{% include system/picturefill.html figure='bluecards.jpg' %}
	    	</figure>

	    	<figure>
	    		<figcaption>
	    			Stage 2 — Informational site used during product development
	    		</figcaption>
		    {% include system/picturefill.html figure='website_update.jpg' %}
	    	</figure>


	    	<figure>
		    	<figcaption>
	    			Stage 3 — Privatly-accessible functionality demos
	    		</figcaption>
		    {% include system/picturefill.html figure='interface_demo.jpg' %}
	    	</figure>

	    	<figure>
	    		<figcaption>
	    			Stage 4 — Product launch</br></br>Article feeds
	    		</figcaption>
		    {% include system/picturefill.html figure='article_feed_page.jpg' %}
	    	</figure>


    		<figure>
	    		<figcaption>
	    			Interactive article cards
	    		</figcaption>
	    		{% include system/picturefill.html figure='card_combined.jpg' %}
	    	</figure>


    		<figure>
	    		<figcaption>
	    			In-depth article pages
	    		</figcaption>
	    		{% include system/picturefill.html figure='full_article_page.jpg' %}
	    	</figure>


    		<figure>
	    		<figcaption>
	    			User profiles
	    		</figcaption>
	    		{% include system/picturefill.html figure='profile_page.jpg' %}
	    	</figure>

    		<figure class='next_image_group'>

	    		{% include system/picturefill.html figure='blueterminal.jpg' %}
	    	</figure>

	    <div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p><a href='http://www.blueterminal.org' target='_blank'>Blue Terminal</a> is an ongoing project building an energy information network. They aggregate a feed of energy news and visualize complex research data.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>This part of my work with Blue Terminal covered product design and development of the user interface. Design of the website evolved through focused stages: fundraising, user sign-up, functionality testing and public launch.</p><p>The other major part of the project included a <a href='/blue_terminal_iconography/'>dynamic identity and an iconographic system</a>.</p>
		    </div>
		</div>
    </div>
</section>
