---
layout: default
categories: work case_study second feed


title: Campaign for Culture
title_long: Campaign</br>for Culture
subtitle: Illustration, Art Direction, Web

path: work/campaign_forculture
news_image: news_preview.jpg

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Identity, illustration and project art-direction for Campaign for Culture in British Columbia.</p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>

    		<div class='gray'>
    			{% include system/picturefill.html figure='logo_gray.png' %}
    		</div>
    	</figure>

    	<figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    			{% include system/picturefill.html figure='card_front.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    			{% include system/picturefill.html figure='card_back.jpg' %}
	    	</div>
    	</figure>
    		    	<figure>
	    		{% include system/picturefill.html figure='web_logo.jpg' %}
	    	</figure>
    	    <figure>
    	    	<figcaption>
	    			Illustrations
	    		</figcaption>
	    		{% include system/picturefill.html figure='inkwell.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='happy_hour.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='SOL.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='atypicallicensing.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='besttasteonearth.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='inthenews.jpg' %}
	    	</figure>
	    		    	<figure >
    	    	<figcaption>
	    			Website
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='web_campaign.jpg' %}
	    	</div>
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_news.jpg' %}
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_form.jpg' %}
	    	</figure>
	    	 <figure>

	    		{% include system/picturefill.html figure='website.jpg' %}
	    	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Campaign for Culture is a grassroots organization that changed liquor laws in British Columbia.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Project design needed to reflect the professional nature of the campaign, yet remain friendly and accessible to people not aware of the issues. This resulted in a clean typographic approach combined with a series of simple, but colorful illustrations.</p><p>Custom illustrations were created for each campaign stage and specific sections of the website.</p>
		    </div>
		</div>
	</div>
</section>
