---
layout: default
categories: work case_study feed

title: New District
title_long: New District
subtitle: Identity, Product Design, Art Direction, Web

path: work/new_district
news_image: feed_img3.jpg

---
<section class="section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Identity, art-direction, and product design for New District, a marketplace for BC Wineries.</p>
        </div>
    </div>
    <div class='content_offset image_set'>

    	<figure>
    		{% include system/picturefill.html figure='card_front2.jpg' %}
    	</figure>
    	<figure class='figure  clearfix'>
	    	<div class=' project_column left'>
	    		<div class='gray'>
	    			{% include system/picturefill.html figure='pillcrow_gray.png' %}
	    		</div>
	    	</div>
	    	<div class='project_column right'>
	    		<div class='black'>
	    			{% include system/picturefill.html figure='logo_black.png' %}
	    		</div>
	    	</div>
    	</figure>
    	<figure>
    		{% include system/picturefill.html figure='card_both.jpg' %}
    	</figure>
    	<figure>
    		{% include system/picturefill.html figure='menu_unfold.jpg' %}
    	</figure>

    	<figure>
    		<figcaption>
    			Search Interface
    		</figcaption>
    		{% include system/picturefill.html figure='search.jpg' %}
    	</figure>
    	<figure>
    		{% include system/picturefill.html figure='search_results.jpg' %}
    	</figure>

    	<figure>
    		{% include system/picturefill.html figure='wineries_search.jpg' %}
    	</figure>

    	<figure>
    		{% include system/picturefill.html figure='wineries_footer.jpg' %}
    	</figure>

    	<figure>
    	<figcaption>
    		Stories Interface
    		</figcaption>
    		{% include system/picturefill.html figure='stories.jpg' %}
    	</figure>

    	    	<figure class='figure  clearfix'>

	    	<div class=' project_column left_third'>
	    			{% include system/picturefill.html figure='article2.jpg' %}
	    	</div>
	    	<div class='project_column middle_third'>
	    			{% include system/picturefill.html figure='article1.jpg' %}
	    	</div>
	    	<div class='project_column right_third'>
	    			{% include system/picturefill.html figure='article3.jpg' %}
	    	</div>
    	</figure>
        <figure>
            {% include system/picturefill.html figure='article_intro.jpg' %}
        </figure>

    	<figure>
    		{% include system/picturefill.html figure='next_article.jpg' %}
    	</figure>

        <figure>
        <figcaption>
            Winery Storefronts
            </figcaption>
                    {% include system/picturefill.html figure='winery_storefront.jpg' %}
        </figure>


            <figure >

                    {% include system/picturefill.html figure='winery_intro.jpg' %}
        </figure>
                    <figure >

                    {% include system/picturefill.html figure='winery_grid.jpg' %}
        </figure>
                    <figure >
                    {% include system/picturefill.html figure='banner_closeup2.jpg' %}
        </figure>
                            <figure >
                    {% include system/picturefill.html figure='cart_modal.jpg' %}
        </figure>
	    <div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p><a href='http://www.newdistrict.ca' target='_blank'>New District</a> is an online marketplace and lifestyle publication focused on British Columbia’s diverse wine industry.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Our goal was to build a place where people could come to learn about the industry and buy great wine. This led to a clean design with spacious, comfortable layouts, magazine-style typography, art-directed articles, and custom, on-location photography.</p><p>New District’s wine selection is instantly accessible through live search. Project interface flexibly adjusts to varied devices without compromising design or usability.</p>
		    </div>
		</div>
	</div>
</section>
