---
layout: default
categories: feed work


title: Dragon Boat Festival
title_long: Dragon Boat</br>Festival
subtitle: Illustration, Advertising

path: work/dragon_boat
news_image: news_image2.jpg

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>A series of posters for the annual Vancouver Dragon Boat Festival.</p>
        </div>
    </div>

    <div class='content_offset'>
    	    	<figure>
    		{% include system/picturefill.html figure='intro_shot.jpg' %}
    	</figure>
    	<figure class='figure  clearfix'>

	    	<div class=' project_column left_third'>
	    			{% include system/picturefill.html figure='festival.jpg' %}
	    	</div>
	    	<div class='project_column middle_third'>
	    			{% include system/picturefill.html figure='market.jpg' %}
	    	</div>
	    	<div class='project_column right_third'>
	    			{% include system/picturefill.html figure='exhibitions.jpg' %}
	    	</div>
    	</figure>
    	<figure>
    		{% include system/picturefill.html figure='market_bottom.jpg' %}
    	</figure>

    	<figure class='figure  clearfix'>

	    	<div class=' project_column left'>
	    			{% include system/picturefill.html figure='this_is_top.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    			{% include system/picturefill.html figure='festival_middle.jpg' %}
	    	</div>
    	</figure>

    	<figure>
    		{% include system/picturefill.html figure='this_is_topright.jpg' %}
    	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Dragon Boat Festival is an annual event in Vancouver, BC. This festival spans a broad range of events, for which the organizers commissioned a series of posters.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Poster design was based on the vibrant styles of traditional dragonboats. Outside of typography all illustrations are hand drawn, with color added digitally. </p>
		    </div>
		</div>
    </div>
</section>
