---
layout: default
categories: feed work

title: Blue Terminal Iconography
title_long: Blue Terminal
subtitle: Identity, Iconography

path: work/blue_terminal_iconography
news_image: interface_demo3.jpg


---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Identity, dynamic labels, and iconography for Blue Terminal energy information network.</p>
        </div>
    </div>
    <div class='content_offset image_set'>

    	<figure class='figure two_col clearfix'>

	    	<div class=' project_column left'>
	    		<div class='black'>
	    			{% include system/picturefill.html figure='logo_black.png' %}
	    		</div>
	    	</div>
	    	<div class='project_column right'>
	    		<div class='gray'>
	    			{% include system/picturefill.html figure='logo_gray.png' %}
	    		</div>
	    	</div>
    	</figure>
    	<figure >
		    {% include system/picturefill.html figure='cards_update.jpg' %}
	   	</figure>
   	    <figure>
    		{% include system/picturefill.html figure='blueterminal.jpg' %}
    	</figure>
	   	<figure >
	   		<figcaption>
    			‘Data-visualization’ logo
    		</figcaption>
	   		<div class='gray'>
		  	  {% include system/picturefill.html figure='dynamic_logo.png' %}
			</div>
	   	</figure>
	   	<figure >
	   		<div class='gray'>
		  	  {% include system/picturefill.html figure='dynamic_logo_result.png' %}
			</div>
	   	</figure>

	   	<figure >
	   		<figcaption>
    			Energy iconography
    		</figcaption>
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='energy_icons.png' %}
		  	</div>
	   	</figure>

	   	<figure >
	   		<figcaption>
    			Dynamic ’energy-label‘ system
    		</figcaption>
		  	  {% include system/picturefill.html figure='dynamic_logo_live.jpg' %}
	   	</figure>
	   	<figure >
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='labelling_system.png' %}
		  	</div>
	   	</figure>
	   	<figure >
	   		<figcaption>
    			Interface iconography
    		</figcaption>
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='interface_iconography.png' %}
		  	</div>
	   	</figure>


   		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p><a href='http://www.blueterminal.org' target='_blank'>Blue Terminal</a> is an ongoing project building an energy information network. They aggregate a feed of energy news, and visualize complex research data.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>We designed an identity that reflects the data-visualization nature of Blue Terminal and their focus on energy research. Created visual language works flexibly in print and digital applications, and encompasses a dynamic labeling system.</p><p>For a look at the development of product design and user interface see <a href='/blue_terminal/'>here</a>.</p>
		    </div>
		</div>
    </div>
</section>


