---
layout: default
categories: feed work


title: Logos
title_long: Logos
subtitle: Branding

path: work/various_logos
news_image: blackhawk.svg

resolution_independent: yes
background_color: gray

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>A selection of logos for various clients.</p>
        </div>
    </div>

    <div class='content_offset'>
                <figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='blackhawk.png' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
  		    <div class='project_detail fifty'>
  		    	<p>Logo for a Vancouver based football club. Design is based on earlier versions, modernizing the mark and giving it a timeless, classic appearance.</p>
  		    </div>
        </div>
        
        <figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='hydras.png' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
  		    <div class='project_detail fifty'>
  		    	<p>Community center logo, designed to flexibly brand the wide range of sports and events the center runs. Hydras remain a common link while the top corner mark changes to identify specific events and activities.</p>
  		    </div>
        </div>
		        <figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='jsnice.png' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
		    <div class='project_detail fifty'>
		    	<p>Application logo for a Javascript deobfuscation tool — part of a family of apps developed at the <a href='http://www.srl.inf.ethz.ch' target='_blank'>Software Reliability Lab</a> in Zurich, Switzerland.</p>
		    </div>
		</div>
				        <figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='awls.png' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
		    <div class='project_detail fifty'>
		    	<p>Personal logo for a social media and strategic communications consultant.</p>
		    </div>
		</div>
			<figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='event_racer.png' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
		    <div class='project_detail fifty'>
          <p>Application logo for a Javascript race analysis tool — part of a family of apps developed at the <a href='http://www.srl.inf.ethz.ch' target='_blank'>Software Reliability Lab</a> in Zurich, Switzerland.</p>
		    </div>
		    </div>
	</div>
</section>
