---
layout: default
categories: work case_study third feed


title: Artist Materials
title_long: Artist Materials
subtitle: Promotional


path: work/paintings_bystout
news_image: portrait_hero_closeup.jpg

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Personal identity and promotional materials for an artist and her exhibitions.</p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>
    		<div class="gray">
		    {% include system/picturefill.html figure='logo.png' %}
		   	</div>
	   	</figure>
    		   	<figure>
		    {% include system/picturefill.html figure='landscape.jpg' %}
	   	</figure>

    		   	<figure>
		    {% include system/picturefill.html figure='hero_pattern.jpg' %}
	   	</figure>
	   	    		   	<figure>
		    {% include system/picturefill.html figure='landscape_morning_coffee.jpg' %}
	   	</figure>

    	    	<figure>
		    {% include system/picturefill.html figure='hero_closeup.jpg' %}
	   	</figure>
	   		   	    		   	<figure>
		    {% include system/picturefill.html figure='portrait_family_picnic.jpg' %}
	   	</figure>
	   	<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Lori Lees-Stout is a painter in Vancouver, BC. Her identity builds on her art, creating a series of miniature paintings for her personal and exhibition communications.</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Clean typographic treatment was applied to augment Lori’s art, and let her style and use of color stand out. Heavy, textured stock was used to give a solid, canvas-like feel and create takeaway versions of Lori’s art.</p>
		    </div>
		</div>
    </div>
</section>
