---
layout: default
categories: feed work

title: CiTR Radio
title_long: CiTR Radio
subtitle: Iconography

path: work/citr_radio
news_image: citr_preview2.jpg


---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content intro_wrap'>
            <p>Iconography for CiTR Radio.</p>
        </div>
    </div>
    <div class='content_offset'>
        <figure>
            {% include system/picturefill.html figure='rulercitr.jpg' %}
        </figure>
    	 <figure class='figure two_col clearfix'>

	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='technical.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='brenda-card.jpg' %}
	    	</div>
    	</figure>
    	    	<figure>
    		{% include system/picturefill.html figure='djcard.jpg' %}
    	</figure>

        <figure>
            {% include system/picturefill.html figure='CiTRhero.jpg' %}
        </figure>
    	<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>CiTR 101.9 FM is a student run, community oriented radio station at the University of British Columbia. </p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Iconographic logos for the stations staff and term-based positions. Each one was designed in collaboration with the staff members.</p>
		    </div>
		</div>
    </div>
</section>

