---
title: Cover Background Images
---

{% for post in site.categories.cover %}
.{{post.cover_class}} {
	background-image: url('/img/{{post.path}}/{{post.image}}');
	background-size:cover;
	{% if post.cover_background_position %}background-position:{{ post.cover_background_position}};{% endif %}
}
{% endfor %}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2.0) {

{% for post in site.categories.cover %}

	.{{post.cover_class}} {
		background-image: url('/img/{{post.path}}/2X_{{post.image}}');
	}
{% endfor %}

}

@media only screen and (min-width: 2000px) {
{% for post in site.categories.cover %}

	.{{post.cover_class}} {
		background-image: url('/img/{{post.path}}/2X_{{post.image}}');
	}
{% endfor %}

}
