---
layout: default
title: info
category: info
nav_layout: body_card
path: info_page
custom_icon_font: info_icons.css
---


<div class="maincontainer">
	<div class="page_info_card content_wrap  full clearfix">
		<div class='centered_layout'>
			<div class='control_box personal'>
				<span class="card_title">Dima Yagnyuk</span></br><span class="card_subinfo">visual & interaction designer
			</div>
		</div>
	</div>
</div>

<div>

		{% include system/divider_label_param.html param='About' %}

	<article class="all_text article_padding section_alternation clearfix">
		<div class="maincontainer">
			<div class="feed_wrap center_text clearfix">

				<p>An independent designer and illustrator in Vancouver, BC.</p>


				<p>Besides design I have an academic background in psychology and have previously worked in advertising. I take on  print and digital projects, doing illustration, identity and interface design. Currently I am working on a BC Wineries project, and am available for additional work or collaboration.</p>

				<p><a class="" href="mailto:contact@deadtype.ca">Email me</a> to get in touch.</p>

			</div>
		</div>
	</article>


	{% include system/divider_label_param.html param='Latest Project' %}

{% for post in site.categories.case_study limit:1 %}


			<div class=" image_text article_padding">
				<div class='content_media_outerframe'>

				{% case post.work_feed %}

					{% when 'work_post_image_caption' %}

						{% include work/work_post_image_caption.html %}

					{% when 'work_post_image_headline_caption' %}

						{% include work/work_post_image_headline_caption.html %}

				{% endcase %}
				</div>

			</div>
{% endfor %}



	{% include system/divider_label_param.html param='Clients' %}


	<article class="infosection article_padding all_text section_alternation clearfix">
		<div class="maincontainer">

			<div class="clients">
				<a ><span aria-hidden="true" class="icon-ams"></span></a>
				<a ><span aria-hidden="true" class="icon-citr"></span></a>
				<a ><span aria-hidden="true" class="icon-discorder"></span></a>
				<a ><span aria-hidden="true" class="icon-dragon"></span></a>
			</br>
			</br>
				<a href="/blue-terminal"><span aria-hidden="true" class="icon-terminal"></span></a>
				<a href="/awls"><span aria-hidden="true" class="icon-awls"></span></a>
				<a href="/campaign-forculture"><span aria-hidden="true" class="icon-campaign"></span></a>
			</div>
		</div>
	</article>



