
<div class="maincontainer ">
	<div class="content_wrap two_thirds center_text ">
		<div class='centered_layout'>
			<div class='control_box'>
				<div class="brief photo_post">
					<header>
						<h4>{{page.title}}</h4>
					</header>

				    <div class="feedcontent">
		                {{page.preview}}.
				    </div>

				     {% if page.show_date != nil %}
				    <footer class="blah">
							{{ page.date | date: "%b %d, %Y" }}
						</footer>
					 {% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
