<div class='ninety'>
    <div class="centered_layout hero_header_container page_info_card">
        <div class='control_box'>
            <div class="work_item non_knockout clearfix maincontainer">
                <div class="content_media_center">
                    <div class="content_wrap  clearfix" >
                        <h4 class="clearfix">{{page.title_header}}</h4>
                         <div class="workgrid_metainfo clearfix">
                            {{page.project_summary}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

