---
layout: default
title: select projects
category: work_main_page
nav_layout: body_card
---

<div class="maincontainer">
	<div class="content_wrap page_info_card three_quarters clearfix">
		<div class='centered_layout'>
			<div class='control_box'>
			<span class="">In-depth <a href=''>look</a> at select projects.</span>
			</div>
		</div>
	</div>
</div>

<div class="clearfix">


	<div class="work_page_sections content_media_secondary">

{% for post in site.categories.first limit:1 %}

	{% include system/divider_label_param.html param='1' %}

			<div class=" image_text article_padding">

				{% case post.work_feed %}

					{% when 'work_post_image_caption' %}

						{% include work/work_post_image_caption.html %}

					{% when 'work_post_image_headline_caption' %}

						{% include work/work_post_image_headline_caption.html %}

				{% endcase %}

			</div>
{% endfor %}

{% for post in site.categories.second limit:1 %}

	{% include system/divider_label_param.html param='2' %}

			<div class=" image_text article_padding">

				{% case post.work_feed %}

					{% when 'work_post_image_caption' %}

						{% include work/work_post_image_caption.html %}

					{% when 'work_post_image_headline_caption' %}

						{% include work/work_post_image_headline_caption.html %}

				{% endcase %}

			</div>
{% endfor %}

{% for post in site.categories.third limit:1 %}

	{% include system/divider_label_param.html param='3' %}

			<div class=" image_text article_padding">

				{% case post.work_feed %}

					{% when 'work_post_image_caption' %}

						{% include work/work_post_image_caption.html %}

					{% when 'work_post_image_headline_caption' %}

						{% include work/work_post_image_headline_caption.html %}

				{% endcase %}

			</div>
{% endfor %}


		{% include system/divider_label_param.html param='Project Archive' %}

	<section class="maincontainer all_text article_padding margin_module">

	    <div class="content_wrap intro_text center_text clearfix">
	        <p>For additional work, including older and personal projects, see the <a href='/archive'>archive</a>. Alternatively <a class=" "href='/news/'>news</a> page is a chronological feed of recent work, photos and project updates.</p>
	    </div>
	</section>


</div>


