$core_text_color: black;
$link_hover_color: black;
$link_color: dimgray;

$knockout_text_color: $core_text_color;
$logo_color: hsl(0,0%,20%);

$sans_serif_generic_size: .6em;

/* =============================================================================
   Core Typography
========================================================================== */

.copy {
  font-family: "aktiv-grotesk-std",sans-serif;
  font-style: normal;
  font-weight: 300;
}

.heading {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* ==========================================================================
   Custom Helper classes
   ========================================================================== */

.margin_module > *:last-child, .margin_module_first > *:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.margin_module > *:first-child,
.margin_module > *:first-child > *:first-child,
.margin_module > *:first-child > *:first-child > *:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.margin_module_first > *:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Div Height */

.full, .ninety, .three_quarters, .two_thirds, .half, .padded_cover {
  position: relative;
}

/* Visual centering */

.control_box {
  position: absolute;
}

.centered_layout {
  text-align: center;
}

.control_box {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.bottom_box {
  position: absolute;
  text-align: center;
  bottom: 1.9em;
  width: 100%;
}

.bottom_left {
  position: absolute;
  bottom: .5em;
  left:.5em;
}
/* ==========================================================================
   Common Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
