---
layout: default
category: photo_page
---

						{% include layout/brief_top_header.html %}


<div class="divider_container maincontainer">
	<div class="content_wrap">
		<div class="label_holder">

				<div class="overlay_label">
					<h1 class=" ">{{page.label_in_text}}</h1>
				</div>

			<div class="flex_container_divider">

				<div class="flex_border"></div>
				<h1 class=" invisible">{{page.label_in_text}}</h1>
				<div class="flex_border"></div>
			</div>
		</div>
	</div>
</div>

<article class=" article_padding image_text last clearfix">
	{% if page.resolution_independent != null %}
		{{ content }}
	{% else %}

	<figure class="{{page.image_width}} {{page.background_color}} {{page.background_frame}}">
			{% if page.secondary_width %}
			<div class="{{page.secondary_width}}">
			{% endif %}
        	{% include system/picturefill_dynamic_page.html %}
            {% if page.secondary_width %}
			</div>
			{% endif %}
	</figure>
	{{ content }}
	{% endif %}

</article>

