<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<!--<p>Independent designer in Vancouver, BC.</p>-->
			<p>I help people develop content strategy, product functionality, and visual/interaction design. My work spans physical and digital media, covering identity, art-direction, UI/UX, and illustration.</p>
			<p>Besides design I have an academic background in psychology, and have done behavioral research at UBC.</p>
			<p>Get in touch with me:</p>
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:dima@designstudio.io">dima yagnyuk</a></span></br>
		</div>
		<div class='about_projects'><a class='' href="mailto:dima@designstudio.io">dima@designstudio.io</a></div>
	</div>
</section>

