<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<p>I help companies develop content strategy, functionality, and visual/interaction design. This spans identity, art-direction, and UI/UX work, across print and digital projects.</p>

			<p>Besides design I have an academic background in psychology, and have done behavioral research at UBC.</p>
			<p>Get in touch to work with me:</p>
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:dima@designstudio.io">dima yagnyuk</a></span></br>
		</div>
		<div class='about_projects'><a class='' href="mailto:dima@designstudio.io">dima@designstudio.io</a></div>
	</div>
</section>

