<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<p>I am a graphic designer in Vancouver, BC.</p>
			<p>I help companies like <a href='/blue_terminal/'>Blue Terminal</a> and <a href='/new_district'>New District</a> develop content strategy, functionality, and visual/interaction design. Outside of this I design a range of identity, art-direction, and UI/UX work for clients like <a href='/campaign_forculture/'>Campaign for Culture</a>, <a href='/dragon_boat'>Dragon Boat Festival</a>, and <a href='/citr_radio_identity/'>CiTR Radio</a>.</p>
			<p>My approach to design builds on behavioral psychology, which comes from my education and earlier work in academic research.</p>
			<p>Get in touch with me at:</p>
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:dima@designstudio.io">dima yagnyuk</a></span></br>
		</div>
		<div class='about_projects'><a class='' href="mailto:dima@designstudio.io">dima@designstudio.io</a></div>
	</div>
</section>

