<section class='intro_section'>
	<div class='content_offset'>
		<div class="navigation_container clearfix">
			<nav class="navigation">

				<div class="page_links">
					<div class='tagline larger_screen'>
					<a href='/'>graphic design, user experience</br>
					& art direction</a>
					</div>
					<span {% if page.category == 'project_page' or page.category == 'broken_page' or page.categories contains 'work' %} class="active" {% endif %}><a class='' href="/">Projects</a></span>
					<span {% if page.category == 'about_page' %} class="active" {% endif %}><a class='' href="/profile">Profile</a></span>
				</div>
			</nav>
		</div>
	</div>
</section>
