<div class="divider_container maincontainer">
	<div class="content_wrap">
		<div class="label_holder">

			{% if page.label %}
				<div class="overlay_label">
					<h1 class=" {% if page.label_border %} label_border {% endif %}">{{page.label}}</h1>
				</div>
			{% endif %}

			<div class="flex_container_divider">

				<div class="flex_border"></div>
				{% if page.label %}
					<h1 class=" invisible">{{page.label}}</h1>
				{% endif %}
				<div class="flex_border"></div>

			</div>
		</div>
	</div>
</div>