{% if page.category != 'cover' %}


<div class='top_nav'>
		<div class="logo navigation_element">
			<span class='cover_logo'><a class="standoutlink" href="/{% if page.category == 'cover' %}news{% endif %}">deadtype</a></span>
			{% if page.category == 'cover' %}
				<span class='cover_description'>visual, product <span class='color_red'>&</span> interaction design</span>
			{% endif %}
		</div>

		<nav class="page_link_containers navigation_element ">
			<div class="page_links">
				<span><a href="/news" class="feed_link">news</a></span>
			    <span><a href="/work" class="work_link">work</a></span>
			    <span><a href="/info" class="info_link">info</a></span>
			</div>
		</nav>
</div>
			{% endif %}


{% if page.category != 'cover' %}
<div class='bottom_nav'>
		<div class='navigation_element email_link'>
			<a class='' href="mailto:contact@deadtype.ca">contact</a>
		</div>
</div>
{% endif %}
