<span data-picture>
    <span data-src="/img/{{post.path}}/portrait_{{post.image}}"></span>
    <span data-src="/img/{{post.path}}/{{post.image}}" data-media="(min-width: 400px)"></span>   
    <span data-src="/img/{{post.path}}/2x_{{post.image}}" data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0)"></span>  
        <span data-src="/img/{{post.path}}/2x_{{post.image}}" data-media="(min-width: 2000px)"></span>   
    <noscript>
        <img src="/img/{{post.path}}/{{post.image}}">
    </noscript>
</span> 